<div class="row">
  <div class="col-md-6">
    <form #f="ngForm" (ngSubmit)="save(f.value)">
      <div class="form-group">
        <label for="title">Title</label>
        <input
          type="text"
          name="title"
          id="title"
          class="form-control"
          required
          [(ngModel)]="product.title"
          #title="ngModel">
    
        <div
          *ngIf="title.touched && title.invalid"
          class="alert alert-danger">
          Title is required.
        </div>
      </div>
    
      <div class="form-group">
        <label for="price">Price</label>
    
        <div class="input-group">
          <span class="input-group-addon">$</span>
          <input
            type="number"
            name="price"
            id="price"
            class="form-control"
            required
            [min]="0"
            [(ngModel)]="product.price"
            #price="ngModel">
        </div>
        
        <div
          *ngIf="price.touched && price.invalid"
          class="alert alert-danger">
          <div *ngIf="price.errors.required">Price is required.</div>
          <div *ngIf="price.errors.min">Price must be $0 or higher</div>
        </div>
      </div>
    
      <div class="form-group">
        <label for="category">Category</label>
        <select
          id="category"
          name="category"
          class="form-control"
          required
          [(ngModel)]="product.category"
          #category="ngModel">
          <option value=""></option>
          <option
            *ngFor="let category of categories$ | async"
            [value]="category.$key">
            {{ category.name }}
          </option>
        </select>
        
        <div
          *ngIf="category.touched && category.invalid"
          class="alert alert-danger">
          Category is required.
        </div>
      </div>
    
      <div class="form-group">
        <label for="imageURL">Image URL</label>
        <input
          type="text"
          name="imageUrl"
          id="imageURL"
          class="form-control"      
          required
          url
          [(ngModel)]="product.imageUrl"
          #imageUrl="ngModel">
          
        <div
          *ngIf="imageUrl.touched && imageUrl.invalid"
          class="alert alert-danger">
          <div *ngIf="imageUrl.errors.required">
            Image URL is required.
          </div>
          <div *ngIf="imageUrl.errors.url">
            Please enter a valid URL.
          </div>
        </div>
      </div>
    
      <button class="btn btn-primary">Save</button>
      <button
        type="button"
        class="btn btn-danger"
        (click)="delete()">
        Delete
      </button>
    </form>
  </div>

  <div class="col-md-6">
    <product-card
      [product]="product" [show-actions]="false">
    </product-card>
  </div>
</div>